<!DOCTYPE html>
<html lang="en">
<head>
    {{include 'shared/header'}}
</head>
<body>
    {{include 'shared/nav'}}
    <div class="container m-container">
        <form action="/users/login" method="post" id="mainForm" class="form-horizontal">
            <div class="form-group">
                <label for="userName">用户名</label>
                <input class="form-control" type="text" name="userName" id="userName">
            </div>
            
            <div class="form-group">
                <label for="pwd">密码</label>
                <input class="form-control" type="password" name="pwd" id="pwd">
            </div>
            
            <div class="form-group">
                <button id="btnSubmit" type="submit" class="btn btn-primary btn-block">登陆</button>
                <a href="/users/reg" class="btn btn-danger btn-block">注册</a>
            </div>
            
        </form>
    </div>
    {{include 'shared/footer'}}

    <script>
        {{if error}}
        alert("{{error}}");
        {{/if}}
    </script>
</body>
</html>